<!-- Start Clients Section  -->

<section class="secCli block" #clients>
  <div class="container">
    <h2>{{ "CLIENTS" | translate }}</h2>
    <div class="carouselLogo" style="direction: ltr">
      <!--		Start Carousel -->
      <div class="slick-wrapper">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/1.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/2.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/3.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/4.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/5.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/6.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/7.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/8.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>

          <div ngxSlickItem class="slide">
            <img
              src="assets/images/10.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/11.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/12.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/13.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
          <div ngxSlickItem class="slide">
            <img
              src="assets/images/14.png"
              alt=""
              width="400px"
              height="400px"
              style="border-radius: 50%"
            />
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <!--		End Carousel -->
  </div>
</section>

<!-- End Clients Section  -->
