<!--		Start Section Footer -->

<footer #footer class="block" dir="ltr">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="contacts">
        <div class="contact">
          <p>الرياض ، حى المرسلات ، شارع ابى بكر ابصديق ، 12464</p>
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="contact">
          <p>info@alreadah.com</p>
          <i class="fas fa-envelope"></i>
        </div>
        <div class="contact">
          <p>++ 966 545433006</p>
          <i class="fas fa-phone"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="social">
        <div class="row">
          <div class="col-xs-12">
            <img src="assets/imgs/rlogo.png" alt="" />
          </div>
          <div class="col-xs-12">
            <a href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="">
              <i class="fab fa-snapchat-ghost"></i>
            </a>
            <a href="">
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--		End Section Footer -->
