<app-heading></app-heading>
<div class="details">
  <div class="detail">
    <h3></h3>
    <div class="details-head">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <img
            class="img-responsive text-center"
            src="assets/imgs/serviceint/امن المعلومات.png"
            alt=""
          />
        </div>

        <div class="div col-md-5 col-xs-12">
          <div class="content">
            <h2 class="headCont">{{ "SECURITY" | translate }}</h2>
            <p class="largeP">{{ "SECP" | translate }}</p>

            <div class="row padz">
              <div class="col-xs-6">
                <i (click)="Cclick()" class="fas fa-volume-up btns"></i>
              </div>
              <div class="col-xs-6">
                <button class="btnOrder" (click)="navOrd()">
                  {{ "ORDER" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details-content">
      <div class="package pkg">
        <p class="largeP">{{ "SECP1" | translate }}</p>
        <p class="smallP">{{ "SECP2" | translate }}</p>
        <p class="smallP">
          {{ "SECP3" | translate }}
        </p>
        <p class="smallP">{{ "SECP4" | translate }}</p>
      </div>
      <div class="package pkg">
        <p class="largeP">{{ "SECP5" | translate }}</p>

        <p class="MedP">{{ "SECP6" | translate }}</p>
        <p class="MedP">
          {{ "SECP7" | translate }}
        </p>
        <p class="smallP">{{ "SECP8" | translate }}</p>
        <p class="smallP">{{ "SECP9" | translate }}</p>
        <p class="smallP">{{ "SECP10" | translate }}</p>
        <p class="smallP">{{ "SECP11" | translate }}</p>
      </div>
      <div class="package last-pack">
        <p class="largeP">{{ "SECP12" | translate }}</p>
        <p class="smallP">
          {{ "SECP13" | translate }}
        </p>
        <p class="smallP">{{ "SECP14" | translate }}</p>
        <p class="smallP">{{ "SECP15" | translate }}</p>
        <p class="smallP">{{ "SECP16" | translate }}</p>
        <p class="smallP">{{ "SECP17" | translate }}</p>
        <p class="smallP">{{ "SECP18" | translate }}</p>
        <p class="smallP">{{ "SECP19" | translate }}</p>
        <p class="smallP">{{ "SECP20" | translate }}</p>
        <p class="smallP">{{ "SECP21" | translate }}</p>
        <p class="smallP">{{ "SECP22" | translate }}</p>
      </div>
    </div>
  </div>
</div>
