<!--		Start programs Sections-->

<section class="program-section block" #program>
  <div class="fluid-container">
    <div class="programSec">
      <div class="row">
        <div
          data-aos="flip-right"
          data-aos-duration="2000"
          data-aos-easing="linear"
          class="col-md-6 col-xs-12"
        >
          <div class="train">
            <div class="cont">
              <h4>{{ "COMPSERVICES" | translate }}</h4>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/tt7gP_IW-1w"
                frameborder="0"
                allowfullscreen
              ></iframe>
              <!-- <button class="more">{{ "SERVMORE" | translate }}</button> -->
            </div>
          </div>
        </div>
        <div
          data-aos="flip-left"
          data-aos-duration="2000"
          data-aos-easing="linear"
          class="col-md-6 col-xs-12"
        >
          <div class="subject">
            <div class="cont">
              <h4>{{ "COMPOFFERS" | translate }}</h4>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/tt7gP_IW-1w"
                frameborder="0"
                allowfullscreen
              ></iframe>
              <!-- <button class="more">{{ "OFFERSMORE" | translate }}</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--		End programs Sections-->
