<!-- Start System Section  -->
<section class="sysSec block">
  <div class="row">
    <div class="overlay"></div>
    <div class="col-xs-12">
      <div class="row">
        <div data-aos="zoom-in-up" data-aos-duration="2000" class="col-xs-12">
          <h3>{{ "SYSTEMS" | translate }}</h3>
        </div>
        <div class="col-xs-12">
          <div class="row contSys text-center">
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-right"
              data-aos-duration="2500"
              class="col-md-3 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon12.png" alt="" />
                <!-- <div class="shadow"></div> -->
                <h4>{{ "HOSPITALS" | translate }}</h4>
              </div>
            </div>
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-right"
              data-aos-duration="2500"
              class="col-md-3 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon11.png" alt="" />
                <!-- <div class="shadow"></div> -->
                <h4>{{ "LAWYER" | translate }}</h4>
              </div>
            </div>

            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-left"
              data-aos-duration="2500"
              class="col-md-3 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon10.png" alt="" />
                <div class="shadowR"></div>
                <h4>{{ "RECIEPT" | translate }}</h4>
              </div>
            </div>
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-left"
              data-aos-duration="2500"
              class="col-md-3 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon9.png" alt="" />
                <div class="shadowR"></div>
                <h4>{{ "COMMERCE" | translate }}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row contSys text-center">
            <div class="col-md-1"></div>
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-right"
              data-aos-duration="2500"
              class="col-md-2 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon13.png" alt="" />
                <!-- <div class="shadow"></div> -->
                <h4>{{ "TAKEAWAY" | translate }}</h4>
              </div>
            </div>
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-right"
              data-aos-duration="2500"
              class="col-md-2 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon14.png" alt="" />
                <!-- <div class="shadow"></div> -->
                <h4>{{ "INSTALL" | translate }}</h4>
              </div>
            </div>

            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-left"
              data-aos-duration="2500"
              class="col-md-2 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon15.png" alt="" />
                <div class="shadowR"></div>
                <h4>{{ "STORES" | translate }}</h4>
              </div>
            </div>
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-left"
              data-aos-duration="2500"
              class="col-md-2 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon16.png" alt="" />
                <div class="shadowR"></div>
                <h4>{{ "ERP" | translate }}</h4>
              </div>
            </div>
            <div
              (click)="formpop()"
              style="cursor: pointer"
              data-aos="zoom-out-left"
              data-aos-duration="2500"
              class="col-md-2 col-xs-12 text-center"
            >
              <div class="contMin">
                <img src="assets/imgs/icon17.png" alt="" />
                <div class="shadowR"></div>
                <h4>{{ "EVENTS" | translate }}</h4>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Form popup -->
<div id="popup-reg" class="popup popup-reg">
  <div class="popup-content">
    <div class="event-header"></div>

    <span class="fade-out main-btn-circle" (click)="formClear()">╳</span>
  </div>
</div>

<!-- End Form popup -->

<!-- End System Section  -->
