label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.gradient {
  background: url("../../../../assets/images/pattern.png") repeat,
    linear-gradient(
      132deg,
      rgb(27 200 200 / 90%) 0%,
      rgb(30 26 81) 60%,
      #3b4ba3 100%
    );
}
.container {
  width: 100%;
  height: 80%;
  position: relative;

  overflow: hidden;
}
@media (max-width: 991px) {
  h1 {
    font-size: 12px !important;
  }
}

@-webkit-keyframes rise {
  0% {
    padding-top: 100%;
  }

  100% {
    padding-top: 7%;
    border-bottom: 0.35em solid #fff;
    opacity: 1;
    text-shadow: 0;
  }
}

@keyframes rise {
  0% {
    padding-top: 100%;
  }

  100% {
    padding-top: 7%;
    opacity: 1;
    text-shadow: 200px 200px 200px rgba(255, 255, 255, 0);
  }
}

.rise-text {
  position: relative;
  text-align: center;
  margin: auto;
  opacity: 0;
  padding-top: 100%;
  color: #fff;
  border-bottom: 0;
  text-shadow: 2px 2px 5px #fff;
  font-family: Trebuchet MS, sans-serif;
  font-size: 56px;
  font-weight: normal;
  -webkit-animation-name: rise;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animaiton-fill-mode: forwards;
  animation-name: rise;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (max-width: 991px) {
  .rise-text {
    margin-top: 49px !important;
    margin-bottom: 23px !important;
    padding: 17px 30px;
    letter-spacing: 1px;
    line-height: 2px;
  }
}

.listing-section,
.cart-section {
  border-bottom: 1em solid #dddbdb;
  border-radius: 2%;
}

body {
  background: #e5e5e5;
  margin: 60px;
}

@media (min-width: 991px) {
  .widthing {
    width: 800px !important;
  }
}

.bacon-blog-post {
  position: relative;
  width: 100%;
  background: #fff;
  font-weight: 400;
  line-height: 1.45;
}

.bacon-blog-post-inner {
  padding: 42px;
}

.bacon-blog-post .wp-post-image {
  width: 100%;
  height: auto;
}

.bacon-blog-post h1,
.bacon-blog-post h2,
.bacon-blog-post h3,
.bacon-blog-post h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  font-family: Open Sans, sans-serif;
}

.bacon-blog-post h1 a,
.bacon-blog-post h2 a,
.bacon-blog-post h3 a,
.bacon-blog-post h4 a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.bacon-blog-post h1 {
  margin-top: 0;
  font-size: 3.157em;
}

.bacon-blog-post h2 {
  margin-top: 0;
  font-size: 2.369em;
}
.bacon-blog-post h3 {
  font-size: 1.777em;
}
.bacon-blog-post h4 {
  font-size: 1.333em;
}
.bacon-blog-post small,
.bacon-blog-post .font_small {
  font-size: 0.75em;
}

.bacon-blog-post p,
.bacon-blog-post p a {
  font-family: Lora, Times New Roman, serif;
  font-size: 20px;
  line-height: 28px;
}

.bacon-blog-post p {
  margin-bottom: 1.3em;
}
.bacon-blog-post p:last-child {
  margin-bottom: 0;
}
.bacon-blog-post p a {
  color: #b21a13;
}

.bacon-blog-post blockquote {
  margin: 1.3em;
  padding-left: 1.3em;
  border-left: rgb(224, 40, 43) solid 0.25em;
  font-style: italic;
}

.bacon-shadow:after {
  position: absolute;
  content: "";
  left: 20px;
  right: 20px;
  bottom: 0px;
  z-index: -1;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.6);
}
