<app-heading></app-heading>
<div class="details">
  <div class="detail">
    <h3></h3>
    <div class="details-head">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <img
            class="img-responsive text-center"
            src="assets/imgs/serviceint/تصميم وبناء الشبكات.png"
            alt=""
          />
        </div>

        <div class="div col-md-5 col-xs-12">
          <div class="content">
            <h2 class="headCont">{{ "NETWORK" | translate }}</h2>
            <p class="largeP">{{ "NETP" | translate }}</p>

            <div class="row padz">
              <div class="col-xs-6">
                <i (click)="Cclick()" class="fas fa-volume-up btns"></i>
              </div>
              <div class="col-xs-6">
                <button class="btnOrder" (click)="navOrd()">
                  {{ "ORDER" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details-content">
      <div class="package">
        <p class="largeP">{{ "NETP1" | translate }}</p>
        <p class="largeP">{{ "NETP2" | translate }}</p>
        <p class="smallP">
          {{ "NETP3" | translate }}
        </p>
        <p class="smallP">{{ "NETP4" | translate }}</p>
        <p class="smallP">{{ "NETP5" | translate }}</p>
      </div>
      <div class="package">
        <p class="largeP">{{ "NETP6" | translate }}</p>
        <p class="smallP">
          {{ "NETP7" | translate }}
        </p>
        <p class="smallP">{{ "NETP8" | translate }}</p>
      </div>
      <div class="package">
        <p class="largeP">{{ "NETP9" | translate }}</p>
        <p class="smallP">
          {{ "NETP10" | translate }}
        </p>
        <p class="smallP">{{ "NETP11" | translate }}</p>
        <p class="smallP">{{ "NETP12" | translate }}</p>
        <p class="smallP">{{ "NETP13" | translate }}</p>
      </div>
      <div class="package">
        <p class="largeP">{{ "NETP14" | translate }}</p>
        <p class="largeP">{{ "NETP15" | translate }}</p>
        <p class="smallP">
          {{ "NETP16" | translate }}
        </p>
        <p class="smallP">{{ "NETP17" | translate }}</p>
        <p class="smallP">{{ "NETP18" | translate }}</p>
        <p class="smallP">{{ "NETP19" | translate }}</p>
      </div>
    </div>
  </div>
</div>
